header.section-outer.section-header
    .section-inner.section-inner--wide
        .l-menu
            button.btn__menu
                .btn__menu-text МЕНЮ
                .btn__menu-dash-wrapper 
                    .btn__menu-dash--longer
                    .btn__menu-dash
            .l-logo
                svg.svg__logo
                    use(aria-label="logo" xlink:href="images/icons/icons.svg#logo")  
        .l-icons
            +geolocation
            .l-callback
                button.btn__callback
                    svg.svg__whatsupBlack
                        use(aria-label="whatsupBlack" xlink:href="images/icons/icons.svg#whatsupBlack")
                button.btn__callback
                    svg.svg__telega
                        use(aria-label="telega" xlink:href="images/icons/icons.svg#telega")
                button.btn__callback
                    svg.svg__viberBlack
                        use(aria-label="viberBlack" xlink:href="images/icons/icons.svg#viberBlack")
            button.btn__catalog-wrapper Каталог
                svg.svg__decorForBtn
                    use(xlink:href="images/icons/icons.svg#decorForBtn")
                svg.svg__decorForBtn-reverse
                    use(xlink:href="images/icons/icons.svg#decorForBtn")
