section.section-aboutUs.section-outer 
  .section-inner
    .section-inner__title О заводе
    .section-aboutUs__image-wrapper
      img.section-aboutUs__image(src="images/aboutUs.png", alt="Кованый мангал")
    .section-aboutUs__image-wrapper2
      img.section-aboutUs__image2(src="images/aboutUsVideo.png", alt="Кованый мангал")
    .section-aboutUs__image-wrapper3
      svg.svg__logoBigBlack
        use(xlink:href="images/icons/icons.svg#logoBigBlack") 
    .content-wrapper
      .content__leaf 
        svg.svg__leaf
          use(xlink:href="images/icons/icons.svg#leaf") 
      .content__title Kov-mangal
      .content__text Мы уважаем и ценим наших клиентов — продаем только качественные изделия, обеспечиваем гарантию и не навязываем лишние услуги











