section.section-assortment.section-outer 
  .section-inner
    .section-inner__title Мангалы, мебель и аксессуары
    //- .section-assortment__image-wrapper
    //-   img.section-assortment__image(src="images/assortment1.png", alt="Кованый мангал")
    .section-assortment__image-wrapper1
      img.section-assortment__image1(src="images/vector1.png")
    .section-assortment__image-wrapper2
      img.section-assortment__image2(src="images/vector2.png")
    .section-assortment__image-wrapper3  
      svg.svg__logoBigBlack
        use(xlink:href="images/icons/icons.svg#logoBigBlack")
    .section-assortment__image-wrapper4
      img.section-assortment__image2(src="images/assortiment1.png") 
    .section-assortment__image-wrapper5
      img.section-assortment__image2(src="images/assortiment2.png") 
    .section-assortment__image-wrapper6
      img.section-assortment__image2(src="images/assortiment3.png") 
    .section-assortment__image-wrapper7
      img.section-assortment__image2(src="images/assortiment4.png") 
    .section-assortment__image-wrapper8
      img.section-assortment__image2(src="images/assortiment5.png") 
    .section-assortment__image-wrapper9
      img.section-assortment__image2(src="images/assortiment6.png") 
    .section-assortment__image-wrapper10
      img.section-assortment__image2(src="images/assortiment7.png") 

    .content-wrapper
      .content__leaf 
        svg.svg__leaf
          use(xlink:href="images/icons/icons.svg#leaf") 
      .content__title Широкий асортимент аксессуаров для мангала и садовой мебели
      .assortment-properties__wrapper
        .assortment-properties__item 
          svg.svg__burn
            use(xlink:href="images/icons/icons.svg#burn")
          .assortment-properties__text Казаны
        .assortment-properties__item 
          svg.svg__burn
            use(xlink:href="images/icons/icons.svg#burn")
          .assortment-properties__text Аксессуары для мангала
        .assortment-properties__item 
          svg.svg__burn
            use(xlink:href="images/icons/icons.svg#burn")
          .assortment-properties__text Шампура
        .assortment-properties__item 
          svg.svg__burn
            use(xlink:href="images/icons/icons.svg#burn")
          .assortment-properties__text Дровницы
        .assortment-properties__item 
          svg.svg__burn
            use(xlink:href="images/icons/icons.svg#burn")
          .assortment-properties__text Костровые чаши
        .assortment-properties__item 
          svg.svg__burn
            use(xlink:href="images/icons/icons.svg#burn")
          .assortment-properties__text Садовая мебель
      .assortment-properties__btn
        +btn-primary("ПОЛУЧИТЬ КАТАЛОГ")
