section.section-delivery.section-outer 
  .section-inner
    .section-delivery__image-wrapper
      img.section-delivery__image(src="images/travel.png", alt="Кованый мангал")
    .section-delivery__image-wrapper2
      img.section-delivery__image2(src="images/delivery.png", alt="Кованый мангал")
    .section-delivery__image-wrapper3
      svg.svg__logoBigBlack
        use(xlink:href="images/icons/icons.svg#logoBigBlack") 
    .content-wrapper
      .section-inner__title А что с доставкой?
      .content__leaf 
        svg.svg__leaf
          use(xlink:href="images/icons/icons.svg#leaf") 
      .content__title Доставка возможна на следующий день, а так же именно на ту дату, когда вам будет удобно!
      .content__text Доставка происходит в течении дня, водитель заранее звонит вам. Так же водитель помогает разгрузить мангал, о заносе на участок всегда можно договориться непосредственно с водителем.
      .content__text Жаровня и печь съемные, что значительно упрощает транспортировку и установку мангала.
      +btn-primary("ПОЛУЧИТЬ КАТАЛОГ")








