section.section-faq.section-outer 
  .section-inner
    .section-inner__title FAQ
    .content-wrapper
      .content__leaf 
        svg.svg__leaf
          use(xlink:href="images/icons/icons.svg#leaf") 
      .content__title Вопросы и ответы
    .faq__wrapper
      details 
        summary КАКОЙ ВОПРОС ТАКОЙ ОТВЕТ 
        p Доставка происходит в течении дня, водитель заранее звонит вам. Так же водитель помогает разгрузить мангал, о заносе на участок всегда можно договориться непосредственно с водителем. Жаровня и печь съемные, что значительно упрощает транспортировку и установку мангала. Так же водитель помогает разгрузить мангал, о заносе на участок всегда можно договориться непосредственно с водителем. Жаровня и печь съемные, что значительно упрощает транспортировку и установку мангала.
      details 
        summary КАКОЙ ВОПРОС ТАКОЙ ОТВЕТ 
        p Скандинавская мифология — мифология древних скандинавов
      details 
        summary КАКОЙ ВОПРОС ТАКОЙ ОТВЕТ 
        p Скандинавская мифология — мифология древних скандинавов
      details 
        summary КАКОЙ ВОПРОС ТАКОЙ ОТВЕТ 
        p Скандинавская мифология — мифология древних скандинавов
      details 
        summary КАКОЙ ВОПРОС ТАКОЙ ОТВЕТ 
        p Скандинавская мифология — мифология древних скандинавов
      details 
        summary КАКОЙ ВОПРОС ТАКОЙ ОТВЕТ 
        p Скандинавская мифология — мифология древних скандинавов

