section.section-frontPage.section-outer 
  .section-inner
    .section-inner__title Шедевры из металла для дома и сада
    .section-frontPage__image-wrapper
      img.section-frontPage__image(src="images/frontPage.png", alt="Кованый мангал")
    .content-wrapper
      .content__leaf 
        svg.svg__leaf
          use(xlink:href="images/icons/icons.svg#leaf") 
      .content__title Кованые <span class="dash-underline">мангалы</span>, <span class="dash-underline">мебель</span> и <span class="dash-underline">аксессуары</span> от завода производителя
      .achivements-wrapper
        .achivements__item
          svg.svg__medal
            use(xlink:href="images/icons/icons.svg#medal") 
          .achivements__text Высокое качество за счет </br> собственного производства
        .achivements__item
          svg.svg__cash
            use(xlink:href="images/icons/icons.svg#cash") 
          .achivements__text Оплата после </br> получения 
        .achivements__item
          svg.svg__armor
            use(xlink:href="images/icons/icons.svg#armor") 
          .achivements__text Гарантия </br> до 3х лет
      +btn-primary('Получить каталог')

      






















