section.section-gift.section-outer 
  .section-inner
    
    .section-gift__image-wrapper
      img.section-gift__image(src="images/travel.png", alt="Кованый мангал")
    .section-gift__image-wrapper2
      img.section-gift__image2(src="images/rlyGift.png", alt="Кованый мангал")
    .section-gift__image-wrapper3
      svg.svg__logoBigWhite
        use(xlink:href="images/icons/icons.svg#logoBigWhite") 
    .content-wrapper
      .section-inner__title На подарок
      .content__leaf 
        svg.svg__leaf
          use(xlink:href="images/icons/icons.svg#leaf") 
      .content__title Мангал - идеальный </br> вариант для подарка
      .content__text Идейные соображения высшего порядка, а также укрепление и развитие структуры в значительной степени обуславливает создание форм развития. 
      .content__text Идейные соображения высшего порядка, а также укрепление и развитие структуры в значительной степени обуславливает создание форм развития. 
      +btn-primary("ПОЛУЧИТЬ КАТАЛОГ")












