section.section-pokraska.section-outer 
  .section-inner
    .section-inner__title Почему у нас лучшие мангалы?
    .section-pokraska__image-wrapper
      img.section-pokraska__image(src="images/pokraska.png", alt="Кованый мангал")
    .content-wrapper
      .content__leaf 
        svg.svg__leaf
          use(xlink:href="images/icons/icons.svg#leaf") 
      .content__title Покраска специальным жаростойким составом
      .content__text Метод получения полимерных покрытий с высокими защитными и декоративными свойствами, что позволяет нашим изделиям иметь:
      .pokraska-properties__wrapper
        .pokraska-properties__item
          svg.svg__burn
            use(xlink:href="images/icons/icons.svg#burn")
          .pokraska-properties__text Прочность и антикоррозийные свойства
        .pokraska-properties__item
          svg.svg__burn
            use(xlink:href="images/icons/icons.svg#burn")
          .pokraska-properties__text Увеличивает срок службы и эксплуатации обработанного изделия
        .pokraska-properties__item
          svg.svg__burn
            use(xlink:href="images/icons/icons.svg#burn")
          .pokraska-properties__text Стойкость к разному рода воздействий окружающей среды: влажности, химикатов, ультрафиолетового света, атмосферного давления и других экстремальных погодных условий.
        .pokraska-properties__item
          svg.svg__burn
            use(xlink:href="images/icons/icons.svg#burn")
          .pokraska-properties__text Такое покрытие снижает риск царапин, осколков, трения, коррозии и прочих проблем эксплуатации
