section.section-profit.section-outer 
  .section-inner
    .section-inner__title У нас выгоднее!
    .section-profit__image-wrapper
      img.section-profit__image(src="images/profit1.png", alt="Кованый мангал")
    .section-profit__image-wrapper2
      img.section-profit__image2(src="images/profit2.png", alt="Кованый мангал")
    .section-profit__image-wrapper3
      svg.svg__logoBigWhite
        use(xlink:href="images/icons/icons.svg#logoBigWhite") 

    .content-wrapper
      .content__leaf 
        svg.svg__leaf
          use(xlink:href="images/icons/icons.svg#leaf") 
      .content__title Чистая цена завода
      .profit-properties__item 
        svg.svg__burn
          use(xlink:href="images/icons/icons.svg#burn")
        .profit-properties__text Работаем без посредников, напрямую отгружая продукцию со склада 
      .profit-properties__item 
        svg.svg__burn
          use(xlink:href="images/icons/icons.svg#burn")
        .profit-properties__text Минуем накрутки и при этом сохраняем высокое качество всех товаров
    