section.section-review.section-outer 
  .section-inner
    .section-inner__title Отзывы
    .section-review__image-wrapper1
      img.section-review__image1(src="images/review1vector.png")
    .section-review__image-wrapper2
      img.section-review__image2(src="images/review2vector.png")  
    .content-wrapper
      .content__leaf 
        svg.svg__leaf
          use(xlink:href="images/icons/icons.svg#leaf") 
      .content__title Наши довольные клиенты
    .swiper-decor-wrapper
    .swiper.mySwiper
      .swiper-wrapper 
        .swiper-slide 
          img(src="images/review1.png")
        .swiper-slide 
          img(src="images/review2.png")
        .swiper-slide 
          img(src="images/review3.png")