section.section-sliderGlory.section-outer 
  .section-inner
    .section-inner__title Фото мангалов
    .content-wrapper
      .content__leaf 
        svg.svg__leaf
          use(xlink:href="images/icons/icons.svg#leaf") 
      .content__title Работы, которыми можно гордиться
    .swiper.mySwiperGlory
      .swiper-wrapper 
        .swiper-slide 
          img(src="images/glory.png")
        .swiper-slide 
          img(src="images/glory.png")
        .swiper-slide 
          img(src="images/glory.png")
      .swiper-button-wrapper
        .swiper-MyButton-prev
          img(src="images/arrowSlider2.png")
        .swiper-MyButton-next
          img(src="images/arrowSlider.png")
        


















