doctype html
html

  include html/head
  
  body
    include html/mixin
    include html/header 
    
    main.page 
    include html/s-frontPage
    include html/s-aboutUs
    include html/s-pokraska
    include html/s-profit 
    include html/s-gift 
    include html/s-delivery 
    include html/s-discount
    include html/s-assortment
    include html/s-sliderGlory
    include html/s-review
    include html/s-faq
    include html/footer 

  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  script(src="js/app.min.js")