.section-footer {
  background: linear-gradient(360deg, #ede2d4 0%, rgb(237 226 212 / 0%) 100%);

  .section-inner {
    position: relative;
    margin-top: 70px;

    &__title {
      position: absolute;
      top: -70px;
    }
  }
}

.l-contacts {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &__title {
    font-weight: 400;
    font-size: 62px;
    line-height: 64px;
    font-family: ViaodaLibre, sans-serif;
    margin-bottom: 36px;
  }

  &__wrapper {
    display: flex;
  }
}

.l-phone {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 31px;
}

.l-messengers {
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;

    :hover {
      @include hover-icons;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;

    :hover {
      transform: none;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
  }

  &__subtitle {
    margin-top: 10px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 28px;
  }
}
