.section-gift {
  height: 900px;
  .section-inner {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  &__image-wrapper {
    width: 436px;
    height: 673px;
    background-color: #ebe0d3;
    position: absolute;
    left: 0;
    top: 0;
  }
  &__image-wrapper2 {
    width: 216px;
    height: 266px;
    position: absolute;
    border: 9px solid $color-background;
    background-color: #ebe0d3;
    bottom: 0;
    left: 300px;
  }
  &__image-wrapper3 {
    position: absolute;
    right: 440px;
    opacity: 0.4;
  }
  &__image {
    position: absolute;
  }
  &__image2 {
    position: absolute;
    bottom: 60px;
    left: 35px;
  }
  
  
  .content {
    &-wrapper {
      width: 550px;
    }
    &__title {
      font-size: 62px;
      margin-bottom: 20px;
    }
    &__text {
      width: 507px;
      margin-bottom: 30px;
    }
  }
}
@media (max-width: $media-xs) {
  .section-gift {
    height: 1450px;
    margin-top: 20px;
    &__image-wrapper {
      top: 540px;
      left: -80px;
      transform: scale(0.8);

    }
    &__image-wrapper2 {
      top: 1100px;
      left: 20px;
    }
    &__image-wrapper3 {
      transform: scale(0.9);
      top: 0;
      left: 0;
    }
    .section-inner {
      margin-left: 52px;
      &__title {
        font-weight: 300;
        font-size: 36px;
        line-height: 34px;
      }
    }
    .content {
      &-wrapper {
        width: 375px;
      }
      &__title {
        font-weight: 400;
        font-size: 34px;
        line-height: 42px;
      }
      &__text {
        width: 273px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}